
# Installed packages
/node_modules
/vendor

# Build content
/public/build
/public/hot
/public/storage

# Configuration and settings
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# Editors, code generation, logs, cruft
/.phpunit.cache
/.fleet
/.idea
/.vscode
/.log
/_ide_helper.php
/storage/*.key
.eslintcache
.phpactor.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
